/* For landscape shapes, duh */

form
{
 text-align: center;
 width: 98%;
 margin: 2%;
}

label
{
 display: block;
 padding-top: 1em;
 margin-bottom: 1em;
 font-size: 3em;
 border-top: 2px solid #d88;
}

/* Header form styles */

form#header label
{
 font-style: italic;
}

form#header input,select
{
 font-size: 3em;
 font-style: none;
 width: 85%;
 margin-bottom: 1.5em;
 text-align: center;
 border: none;
}

form#header input#next
{
 margin-top: -3em;
}

/* Sheet form styles */

form#sheet label
{
 font-weight: bold;
}

form#sheet input,textarea
{
 font-size: 3em;
 font-style: none;
 max-width: 85%;
 margin-bottom: 1.5em;
 text-align: center;
}

/* jQuery overrides for specific layout */

.ui-datepicker
{
 font-size: 2em;
 width: 80%;
}

.ui-selectmenu-menu
{
 font-size: 2em;
}

.ui-selectmenu-text
{
 font-size: 2em;
 font-weight: bold;
}
